.main-course{
    flex-direction: column;
    padding: 0;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    gap:0;
    min-width: 360px;
  
    margin-bottom: 0px;
  }
 
.courses-container .row{
    gap:0 !important;
}
.main-course-text{
    padding-left: 30px;
    padding-bottom: 40px;
    padding-right: 30px;
    margin-top: 30px;
}
.marketing-span{
    margin-top: 0px;
}
.filter-item {
    display: none;
}
.row  {
    display: flex;
}
.filter-bar{
    margin-top: 60px;
    margin-bottom: 60px;
    gap: 20px;
    flex-wrap: wrap;
    
}
.btn-courses{
    padding: 13px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 4px;
    border: 1px solid #FF3F3A;
    color: #FF3F3A;
}
.btn-courses-inact{
    border: 0;
    padding: 13px 20px;
    color:rgba(154, 156, 165, 1);
}
.development-span{
    background: #7772F1;
    width: 99px;
}
.main-course img{
    width: 100%;
}
.form-control, .form-control:active{
    width: 315px;
    padding: 11px 16px;
    padding-right: 40px;
    background-image: url("img/input/search.png");
    background-repeat: no-repeat;
    background-position: 280px center;
}
.btn-load{
    color: var(--gray-800, #424551);
    /* base/bold */
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 25.6px */
    padding: 11px 33px;
    margin-left: 20px;
    background-image: url("img/loadmore.svg");
    background-repeat: no-repeat;
    background-position: left center;
}
.btn-hide{
    color: var(--gray-800, #424551);
    /* base/bold */
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}
.meet{
    margin-top: 120px;
}
.certificate{
    margin-top: 120px;
    align-items: center;
}
.all-courses .btn-load{
    width: fit-content;
}
@media(max-width: 1200px){
    .main-course{
        min-width: 300px;
    }
  }
  @media (max-width: 1050px) {
    #filter-buttons {
        display: none;
    }  
    #filterDropdown {
        display: block;
    }
    .all-courses .row{
        gap:15px !important;
    }
}
@media (min-width: 1001px) {
    #filterDropdown {
        display: none; /* Скрываем dropdown на больших экранах */
    }
    #filterButtons {
        display: block; /* Показываем кнопки на больших экранах */
    }
}
@media(max-width: 767px){
    .main-course{
        min-width:250px;
        width: 100%;
        margin: 8px 4px;
    }}
@media(max-width: 550px){
    .main-course{
        min-width:180px;
        width: 100%;
        margin: 8px 4px;
    }
    .main-course h4{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .course-teach-name{
        font-size: 14px;
    }
    .main-course-text{
        padding-left: 10px;
        padding-bottom: 14px;
        padding-right: 10px;
        margin-top: 10px;
    }
    .filter-bar{
        margin-bottom: 10px;
    }
    .all-courses .row{
        gap:0px !important;
    }
    .all-courses{
        padding: 10px;
    }
    .marketing-span{
        margin-bottom: 10px;
    }
  }
  @media(max-width: 400px){
    .main-course{
        min-width:150px;}}
.review-podz{
    margin-top: 0;
}
 