*{
    font-family: Lato, sans-serif !important;
}
h1{
    color: var(--gray-900, #1E212C);
    font-size: 54px;
    font-style: normal;
    font-weight: 900;
    line-height: 130%; /* 83.2px */
    letter-spacing: 1px;
}
h2{font-size: 46px;
    font-weight: 900;
    margin-bottom: 0;}
h3{
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 0;
}
h4{
    color: #1E212C;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 30px */
}
@media(max-width:1100px){
    h1{font-size: 44px;}
    h2{font-size: 36px;}
    h3{font-size: 28px;}
}
p{
    color: rgba(30, 33, 44, 1);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    margin-bottom: 0;
}
.podz{
    color:  #1E212C;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%; /* 24px */
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn-def{
    padding: 15px 40px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--btn-gradient, linear-gradient(56deg, #FF3F3A 0%, #F75E05 100%));
    color: var(--white, #FFF);
    font-style: normal;
}
.btn-def:hover,.btn-outline:hover,.btn-def:focus,.btn-def:active{
    color: #FFF;
    scale: 1.03;
    background: var(--btn-gradient, linear-gradient(56deg, #d31913 0%, #F75E05 100%));
    transition: all 0.5s;
}
.btn-outline{
    padding: 13px 40px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    border-radius: 4px;
    border: 1px solid #FF3F3A;
    color: #FF3F3A;
  }
  .btn-reg{padding: 13px 40px;}
  @media(max-width:650px){
    .btn-outline, .btn-def,.btn-reg{
        padding: 17px 40px;}
  }

  input:focus, input:active{
    outline: none !important;
    border: none;
  }

  .btn-hidden{
    display: none;
  }
  @media(max-width:1000px){
    .btn-hidden{
        display: block;
        width: auto;
    }
  }