p{
    color: var(--gray-800, #424551);
}

.course-head-podz{
    color: var(--primary, #FF3F3A);
}
.course-head h2{
    max-width: 1020px;
    margin: 0 auto;
}
.course-head{
    padding-top: 180px;
    margin-top: -72px;
    background-image: url("img/background1.png");
    padding-bottom: 120px;
}
.about-course-container{
    margin-top: 120px;
}
.about-course-text{
    max-width: 600px;
}
.about-course-container h3{
    color: var(--gray-900, #1E212C);
    font-size: 28px;
    font-weight: 700;
    line-height: 150%; /* 42px */
    margin-top: 48px;
}
.about-course-list{
    margin-top: 40px;
    margin-bottom: 48px;
    list-style-type: none; 
    padding-left: 0;
  }
  .about-course-list li{
    position: relative;
    padding-left: 30px;
    color:  #424551;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    margin-bottom: 4px;
  }
  .about-course-list li::before {
    content: url('img/check.svg'); 
    position: absolute;
    left: 0;
    top: 0.2em; 
    width: 20px; 
    height: 20px;
  }
  .about-course-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 120px;
  }
  .about-course-table{
    width: 40%;
    padding: 40px 32px;
    border-radius: 4px;
    border: 1px solid var(--gray-300, #E5E8ED);
    background: var(--white, #FFF);
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  }
  .about-course-table-h{
    color: var(--gray-900, #1E212C);
    font-size: 14px;
    font-weight: 700;
    line-height: 150%; /* 21px */
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 4px;
  }
  .about-course-table-numbers{
    color: var(--primary, #FF3F3A);
    font-size: 24px;
    font-weight: 700;
    line-height: 130%; /* 31.2px */
    margin-bottom: 8px;

  }
  .about-course-table p{
    color: var(--gray-700, #787A80);
    font-size: 16px;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    margin-bottom: 32px;
  }
  .about-course-table .btn-reg{
    width: 100%;
  }
  @media(max-width:1200px){
    .about-course-container{
        gap:20px
    }
    .about-course-text{
        width: 40%;
    }
    .about-course-table{
        width: 50%;
    }
  }
  @media(max-width:767px){
    .about-course-container{
        flex-direction: column;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .about-course-text{
        width: 100%;
    }
    .about-course-table{
        width: 100%;
    }
    .about-course-container h3{
        margin-top: 18px;
    }
    .about-course-list{
        margin-top: 10px;
        margin-bottom: 18px;
    }
  }



.course-curator{
    display: flex;
    justify-content: space-between;
    gap:20px;
    padding-top: 80px;
    margin-bottom: 180px;
}
.course-curator-text{
    width: 45%;
}
.curator-p{
    color: var(--gray-700, #787A80);
    font-size: 20px;
    font-weight: 400;
    line-height: 150%; /* 30px */
    margin-bottom: 24px;
}
.curator-number{
    display: flex;
    align-items: center;
    gap:8px;
}
.curator-number:nth-of-type(3){
    margin-bottom: 32px;
}
.curator-number p{
    font-weight: 700;
}
.curator-icons{
    margin-top: 40px;
    display: flex;
    gap: 24px;
}
.course-curator .img-container{
    border-radius: 4px;
    background: var(--secondary, #FFCF2D);
    padding: 0 18px;
}
.course-curator .img-container img{
    margin-top: -20px;
}
.curator-background{
    background-image: url("img/curatorbackground.png");
    background-size: cover;
}
.curator-number.inactive{
    display: none;
}
.p-767{
    display: none;
}
@media(max-width:1000px){
    .course-curator .img-container{
        width: 100%;
        height: fit-content;
        margin-bottom: 20px;
    }
    .course-curator .img-container img{
        width: 100%;
    }
    .curator-number{
        display: none;
    }
    .curator-number.inactive{
        display: flex;
        margin-bottom: 10px;
    }
    .curator-number.inactive:nth-last-of-type(1){
        margin-bottom: 0;
    }
    .curator-inactive{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
    }
}
@media(max-width:767px){
    .course-curator-text>p{
        display: none;
    }
    .curator-number.inactive{
        display: none;
    }
    .curator-number{
        display: flex;
    }
    .course-curator{
        margin-bottom: 0;
    }
    .p-767{
        display: block;
        margin-bottom: 100px;
    }
}
@media(max-width:500px){
    .course-curator{
       flex-direction: column;
       gap:10px;
    }
    .course-curator-text{
        width: 100%;
    }
    .curator-icons{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .curator-number:nth-of-type(3) {
        margin-bottom: 10px;
    }
    .course-curator .img-container{
        margin-bottom: 0;
    }
    .course-curator h6{
        margin-bottom: 0;
    }
    .course-curator h2{
        margin-bottom: 10px;
        max-width: 100%;
    }
}



.curator-main-step{
    max-width: 295px;
    margin-right: 20px;
}
.curator-step-number1{
    color: var(--gray-400, #D7DADD);
    font-size: 46px;
    font-weight: 900;
    line-height: 130%; /* 59.8px */
    margin-bottom: 16px;
}
.curator-step-number{
    display: flex;
}
.curator-step-line{
    width: 100%;
    border-top: 2px rgba(215, 218, 221, 1) dashed;
    margin-top: 30px;
    margin-left: 20px;
}
.curator-main-steps{
    display: flex;
    justify-content: space-between;
}
.curator-main-step:nth-of-type(4){
    margin-right: 0;
}
.curator-main-step:hover .curator-step-number1{
    color: rgba(255, 63, 58, 1);
    transition: all 0.5s;
}
.curator-main-step {
    position: relative; /* Это нужно для позиционирования псевдоэлементов относительно блока */
}
.curator-step-number1 {
    position: relative;
    z-index: 10; /* Число должно быть поверх кругов */
    transition: all 0.5s; /* Плавный переход для цвета */
}

.curator-main-step:hover .curator-step-number1::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgba(255, 63, 58, 0.2); /* Красный цвет */
    opacity: 1; /* Круги видны */
    transition: all 0.5s ease;
}
.curator-main-step:hover .curator-step-number1::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #FFF3F3; /* Красный цвет */
    opacity: 1; /* Круги видны */
    transition: all 0.5s ease;
}
.curator-step-number1::before {
    width: 84px; 
    height: 84px;
    z-index: 0;
    opacity: 0;
}
.curator-step-number1::after {
    width: 116px;
    height: 116px;
    z-index: -1; /* Большой круг за меньшим */
    opacity: 0; /* Изначально невидим */
}

.curator-main-step:hover .curator-step-number1::before {
    opacity: 1;
}

.curator-main-step:hover .curator-step-number1::after {
    opacity: 1; /* Появляется больший круг */
}
@media(max-width:1000px){
    .curator-step-line-none{
        display: none;
    }
    .curator-main-step{
        min-width: 295px;
        margin-bottom: 40px;
    }
    .curator-main-steps{
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .curator-steps h6,.curator-steps h2{
        text-align: left !important;
    }

}
@media(max-width:767px){
    .line-none-767{
        display: none;
    }
    .curator-main-step{
        min-width: 100%;
        margin-bottom: 20px;
    }
}
@media(max-width:500px){
    .curator-step-number1{
        color: rgba(255, 63, 58, 1);
    }
}


.timer{
    padding: 48px 60px;
    margin-top: 180px;
    border-radius: 4px;
    background-image: url("img/timerbackground.png");
    background-size: cover;
    background-position: center top;
}
.timer ul{
    list-style: none;
    display: flex;
    gap: 24px;
    text-align: center;
}

.timer li span {
    display: block;
    color: var(--gray-900, #1E212C);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 26px */
}
.timer-date{
    padding: 1em;
    color: var(--gray-900, #1E212C);
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 150%; /* 18px */
    padding: 0;
    padding-top: 4px;
  }
.timer-header{
    display: flex;
    justify-content: space-between;
    gap:20px
}
.timer-form>div{
    display: flex;
    flex-direction: column;
}
.timer-form{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 20px;
}
.timer-form input[type="text"], .timer-form input[type="email"]{
    padding: 12px 16px;
    padding-bottom: 13px;
    border-radius: 4px;
    border: 1px solid var(--gray-400, #D7DADD);
    background: var(--white, #FFF);
    width: 291px;
}
.timer-form label{
    color: var(--gray-800, #424551);
font-size: 14px;
font-weight: 400;
line-height: 150%; /* 21px */
margin-bottom: 8px;
}
.timer-form input::placeholder{
    color: var(--gray-600, #9A9CA5);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%; /* 21px */
}
@media(max-width:1400px){
    .timer-form input[type="text"], .timer-form input[type="email"]{
        width: 100%;
    }
    .timer-form input[type="submit"]{
        width: 100%;
    }
    .timer-form>div{
        width: 30%;
    }
}
@media(max-width:1000px){
    .timer-form>div{
        width: 48%;
    }
    .timer-form input[type="submit"]{
        width: 48%;
    }
}
@media(max-width:767px){
    .timer{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .timer-form>div{
        width: 100%;
    }
    .timer-form input[type="submit"]{
        width: 100%;
        margin-top: 20px;
    }
    .timer-form {
        gap:10px;
        margin-top: 10px;
    }
}
@media(max-width:550px){
    .timer-header{
        flex-direction: column;
        gap:20px;
    }
    .timer-header ul{
        padding-left: 0;
    }
    .timer{
        padding: 48px 48px;
    }
}


.curator-benefits{
    margin-top: 180px;
    padding-bottom: 180px;
}
.curator-benefits-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:20px
}
.curator-benefits-list{
    margin: 0;
    max-width: 600px;
}
.curator-benefits-list li{
    color: var(--gray-800, #424551);
    font-size: 20px;
    padding-left: 36px;
    padding-right: 0;
}
.curator-benefits-flex h2{
    max-width: 492px;
}
@media(max-width:767px){
    .curator-benefits-flex{
        flex-direction: column;
    }
    .curator-benefits{
        padding-bottom: 100px;
        margin-top: 0;
    }
}



.accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' stroke='%23FF3F3A' stroke-width='0.5' fill='%23FF3F3A'  class='bi bi-plus-lg' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2'/></svg>");
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23FF3F3A' stroke='%23FF3F3A' stroke-width='0.5' class='bi bi-dash-lg' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8'/></svg>");
} 
.accordion-button::after {
    margin-right: 20px; /*отступ между иконкой и текстом */
    margin-left: 0;
    margin-top: 6px;
    order: -1; /* перемещаем иконку перед текстом */
}
.accordion-button:not(.collapsed) {
    background-color: transparent; 
    box-shadow: none; 
    border: none;
}
.accordion-button {
    background-color: transparent; 
    border: none;
    padding-left: 0;
    align-items: flex-start;
}
.accordion-button:focus {
    box-shadow: none;
    outline: none;
}
.accordion-item {
    background-color: transparent; 
    border: none;
}
.accordion{
    max-width: 600px;
}
.accordion-body{
    padding-left: 40px;
    padding-top: 0;
    padding-bottom: 24px;
    
}
.accordion-header h4{
    margin-bottom: 0;
}
.accordion-header span{
    color: var(--primary, #FF3F3A);
    font-size: 20px;
    font-weight: 400;
    line-height: 150%; /* 30px */
    width: fit-content;
    min-width: 80px;
    display: inline-block;
    margin-right: 8px;
}
.will-learn{
    margin-bottom: 120px;
    display: flex;
    gap:20px;
    justify-content: space-between;
    align-items: center;
}
@media(max-width:1200px){
    .will-learn>img{
        width: 50%;
    }
}
@media(max-width:1000px){
    .will-learn{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 80px;
    }
    .will-learn>img{
        margin: 0 auto;
    }
}




.meet{
    margin-top: 0;
}
.register-course{
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
}
.register-course-text{
    width: 50%;
}
.register-form-text h2{
    margin-bottom: 40px ;
}
.register-form{
    flex-direction: column;
    width: 100%;
    align-items: stretch;
}
.register-form input{
    width: 100%  ;
    min-width: 100%;
}
@media(max-width:1200px){
    .register-course{
        gap:20px
    }
    .register-course>img{
        width: 50%;
        object-fit: cover;
    }
    .register-form>div{
        flex-direction: column;
        width: 100% !important;
        align-items: stretch !important;
    }
    .register-form input{
        width: 100% !important;
        min-width: 100%;
    }
}
@media(max-width:767px){
    .register-course>img{
        width: 70%;
        object-fit: contain;
    }
    .register-course{
        flex-direction: column-reverse;
        align-items: center;
    }
    .meet{
        padding-bottom: 100px;
    }
}


.main-course img{
    max-height: 214px;
    width: auto !important;
    object-fit: contain;
}
.main-course-text{
    height: fit-content;
   
}
.main-course{
    box-shadow: none;
    border-radius: 10px;
    min-width: 200px;
    height: fit-content;
    flex-wrap: nowrap;
}
.main-course:hover{
    scale: 1;
}
.owl-stage{
    display: flex;
  }
.owl-item{
    flex:1;
}
.card-owl{
    height: 100%;
}
.other-courses{
    margin-top: 180px;
    margin-bottom: 180px;
}
.more-courses{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
    margin-top: 85px;
    gap: 20px;
}
@media(max-width:1200px){
    .marketing-span{
        margin-top: 24px;
    }
    .main-course{  
        padding-right: 20px;
    }
    .main-course h4{
        font-size: 18px;
    }
    .course-teach-name{
        font-size: 16px;
    }
    .other-courses{
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

@media(max-width:600px){
    .marketing-span{
        margin-top: 20px;
    }
    .main-course{
        padding-right: 10px;
        flex-direction: row;
    }
    .main-course h4{
        font-size: 16px;
    }
    .course-teach-name{
        font-size: 16px;
    }
    .main-course-text{
        padding: 0;
        margin-left: 10px;
    }
    .other-courses{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .more-courses{
        margin-top: 55px;
    }
}
@media(max-width:400px){
    .marketing-span{
        margin-top: 10px;
    }
    .main-course{
        padding-right: 5px;
        flex-direction: row;
    }
    .main-course h4{
        font-size: 14px;
    }
    .course-teach-name{
        font-size: 14px;
    }
    .main-course-text{
        padding: 0;
        margin-left: 10px;
    }
    .owl-prev,.owl-next{
        display: none;
    }
}